<button id="nav-toggle" class="site-nav__toggle hidden--desk">
	<svg viewBox="0 0 26 19">
			<title>Menu</title>
			<g>
					<rect id="Rectangle" x="-5.32907052e-15" y="0" width="25.0219727" height="3"></rect>
					<rect id="Rectangle-Copy-5" x="-5.32907052e-15" y="16" width="25.0219727" height="3"></rect>
					<rect id="Rectangle-Copy-6" x="-5.32907052e-15" y="8" width="25.0219727" height="3"></rect>
			</g>
	</svg>
	<span class="visuallyhidden">Toggle Menu</span>
</button>
<!-- /.site-nav__toggle -->	

<nav class="site-nav" aria-label="Primary">

	<div class="site-nav__links">
		{% for link in linklists.main-menu.links %}

		<a href="{{ link.url }}" class="site-nav__link{% if link.url == page.url or template == 'index' and link.title == 'Our Story' %} is-active{% endif %}">{{ link.title }}</a>

		{% endfor %}
	</div>
	<!-- /.site-nav__links -->	

	{% render 'account-nav' %}

</nav>
<!-- /.site-nav -->