<!-- /templates/customers/reset_password.liquid -->

<div class="section">

	{% form 'reset_customer_password', class: 'form' %} 

		<div class="stack login">

			{{ form.errors | default_errors }}

			<h1 class="heading heading--h2 text-center">Reset your password</h1>

			<div class="form__row">

				<label for="user_pass" class="form__label">Your new password:</label>
				<input id="user_pass" type="password" name="customer[password]" class="form__field">

			</div>

			<div class="form__row">

				<label for="customer_password" class="form__label">Confirm password</label>
				<input id="customer_password" type="password" name="customer[password_confirmation]" class="form__field">

			</div>

			<button type="submit" class="btn btn--full">Login</button>

		</div>
		<!-- /.stack -->

	{% endform %} 

</div>
<!-- /.section -->