<div class="section section--alt full-bleed">

		<div class="wrapper">

			{% render 'product-cta', title: section.settings.title, text: section.settings.text, cta_link: section.settings.btn_link, cta_text: section.settings.btn_text, level: 'h2' %}

		</div>

	</div>

	{% schema %}
{
  "name": "Business CTA Block",
	"settings":  [
		{
			"id": "title",
			"type": "text",
			"label": "Heading"
		},
		{
			"id": "text",
			"type": "textarea",
			"label": "Text"
		},
		{
			"id": "btn_link",
			"type": "url",
			"label": "Choose link"
		},
		{
			"id": "btn_text",
			"type": "text",
			"label": "Button text"
		}
	]
}
{% endschema %}