<div class="section stack">

	{% render 'text-hero' , title: page.title, content: page.content %}

	<a href="/pages/contact" class="btn btn--center">Contact for info</a>

</div>
<!-- /.section -->

{% section 'poster' %}

{% section 'follow-block' %}