<div class="section stack">

	{% render 'text-hero' , title: page.title, content: page.content %}

</div>

<div class="section stack login">

	{% form 'contact' %}
		{% if form.posted_successfully? %}<div class="flash-msg is-active" aria-live="polite">Thank you for your message. We will get back to you soon</div>{% endif %}
		{{ form.errors | default_errors }}

		<div class="form__row">
			<label for="ContactFormName" class="form__label">Your name</label>
			<input type="text" id="ContactFormName" name="contact[name]" class="form__field" required>
		</div>
		<div class="form__row">
			<label for="ContactFormEmail" class="form__label">Your email</label>
			<input type="email" id="ContactFormEmail" name="contact[email]" class="form__field" required>
		</div>
		<div class="form__row">
			<label for="ContactFormPhone" class="form__label">Your telephone</label>
			<input type="tel" id="ContactFormPhone" name="contact[phone]" class="form__field">
		</div>
		<div class="form__row">
			<label for="ContactFormMessage" class="form__label">Your message</label>
			<textarea rows="10" id="ContactFormMessage" name="contact[body]" class="form__field form__field--textarea" required></textarea>
		</div>
		<div class="form__row">
			<button class="btn btn--full" type="submit">Send</button>
		</div>
	{% endform %}

</div>